.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}

.social-media-icon {
  padding: 2px 3px 1px 3px;
  background: #222;
  color: #fff;
  margin: 5px;
  border-radius: 2px;
}
a.social-media-icon:hover {
  background: #fff !important;
  color: #222 !important;
}
.facebook {
  background: #3c5a98 !important;
}
.github {
  background: #000000 !important;
}
.whatsapp {
  background: #19c919 !important;
}
.instagram {
  background: #e43b07 !important;
}
